<main class="container u-full-width u-max-full-width">
  <header class="header row">
    <div class="two columns u-align-center">
      <div class="app-nav"><a href="/">QAYAQ</a></div>
    </div>
    <div class="ten columns">
      <nav>
        <ul class="nav">
          <li class="nav-item"><a href="/hotels">Hotels</a></li>
          <li class="nav-item"><a href="/flights">Flights</a></li>
          <li class="nav-item active">{{!link-to 'Cars' 'cars'}}<a href="/cars">Cars</a></li>
          <li class="nav-item"><a href="/trips">Trips</a></li>
        </ul>
      </nav>
    </div>
  </header>

  {{outlet}}
</main>
